body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #121212;
  color: #fff;
}

input, textarea {
  background: #1b1b1b;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.06);
  outline: none;
}

button {
  cursor: pointer;
}
